.profile-img{
    background-position:center;
    max-width:100%;
    max-height:100%;;
}

.profile-img-container{
    display: block;
    justify-content: center;
    text-align: center;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: aliceblue;
    overflow: hidden;
    background: #c9e2fb;
    size: fit-content;
}

.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
